@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
html, body {
  font-family: 'Merriweather', serif;
  padding: 0;
  margin: 0;
  background-color: #F7F7F7;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 8px;
}