.stp-article {
  display: flex;
  margin-bottom: 32px;
  height: 280px;
  padding: 16px;

  &__image {
    flex-grow: 1;
    min-width: 320px;
    max-width: 320px;
    width: 100%;
    font-size: 12px;
    color: $color-neutral-500;
    box-shadow: $box-shadow-1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding-left: 32px;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__header-date {
    color: $color-neutral-500;
    white-space: nowrap;
    text-align: right;
  }

  &__preamble {
    color: $color-neutral-700;
  }


  @media (max-width: 991.98px) {
    &__header {
      flex-direction: column;
    }

    &__header-date {
      text-align: left;
    }

    &__preamble {
      padding-top: 16px;
    }
  }

  @media (max-width: 767.98px) {
    margin-bottom: 16px;
    height: 128px;

    &__content {
      padding-left: 8px;;
    }

    &__image {
      min-width: 128px;
      max-width: 128px;
    }

    &__preamble {
      display: none;
    }

    &__header-title {
      font-size: 16px;
    }

    &__header-date {
      font-size: 12px;
    }
  }
}