.stp-filters {
  grid-area: filters;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: $color-neutral-700;

  &__header {
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 700;
  }

  &__filter {
    cursor: pointer;
    align-self: flex-start;

    label {
      text-transform: capitalize;
      padding-left: 8px;
      user-select: none;
      cursor: pointer;
    }
  }
}