.stp-app {
  padding: 64px 128px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "date-sort date-sort"
                        "filters articles";

  &__articles {
    grid-area: articles;
    height: 100%;
  }

  &__error {
    color: $color-neutral-700;
    user-select: none;

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @media (max-width: 991.98px) {
    padding: 32px 64px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "filters date-sort"
                          "articles articles";
  }

  @media (max-width: 767.98px) {
    padding: 6px;
  }
}